<!-- -->
<launch>
  <param name="use_sim_time" value="true"/>
  <arg name='role_name' default='ego_vehicle'/>
  <arg name='map_name' default='Town01'/>  
  <arg name="kml_map_path" default="$(env TEAM_CODE_ROOT)/autoware-contents/maps/vector_maps/kml/$(arg map_name).kml"/>
  <arg name="pointcloud_map_path" default="$(env TEAM_CODE_ROOT)/autoware-contents/maps/point_cloud_maps/$(arg map_name).pcd"/>
  <arg name="external_route_topic" default='' />
  <arg name='explore_mode' default='false'/>

  <!--
    ##################
    ## TF remapping ##
    ##################
  -->
  
  <node pkg='tf'  type='static_transform_publisher' name='world_to_map' args='0 0 0 0 0 0 /world /map 20' />
  <node pkg='tf'  type='static_transform_publisher' name='map_to_mobility' args='0 0 0 0 0 0 /map /mobility 20' />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_localizer" args="0.7 0.0 2.4 0 0 0 /base_link /velodyne 20"/> 
   
   <!--
    ##################
    ## Sensor topics remapping ##
    ##################
  -->
  <node pkg='topic_tools' type='relay' name='points_relay' args='/carla/$(arg role_name)/lidar/LIDAR/point_cloud /points_raw'/>
  <node pkg='topic_tools' type='relay' name='imag_relay' args='/carla/$(arg role_name)/camera/rgb/Center/image_color /image_raw'/>
  <node pkg='topic_tools' type='relay' name='info_relay' args='/carla/$(arg role_name)/camera/rgb/Center/camera_info /camera_info'/>
  <node pkg="topic_tools" type="relay" name="gnss_relay" args="/carla/$(arg role_name)/gnss/GPS/fix /fix"/> 
  <node pkg="topic_tools" type="relay" name="imu_relay" args="/carla/$(arg role_name)/imu /imu_raw"/>
  <node pkg="topic_tools" type="relay" name="odo_relay" args="/carla/$(arg role_name)/odometry /odom"/> 
    
  
  <!--
    ##################
    ## Launching Autoware nodes ##
    ##################
  -->
  <include file="$(env TEAM_CODE_ROOT)/autoware_launch/autoware.launch">    
    <arg name='kml_map_path' value='$(arg kml_map_path)'/>
    <arg name='pointcloud_map_path' value='$(arg pointcloud_map_path)'/>        
    <arg name='external_route_topic' value='$(arg external_route_topic)'/>
    <arg name='explore_mode' value='$(arg explore_mode)'/>
  </include> 

  
</launch>

