<!-- -->
<launch>

  <!-- 
    # Ray ground filter #
    filter points below ground
    In:  /points_raw
    Out: /points_no_ground (points above ground)
  -->
 <include file="$(find points_preprocessor)/launch/ray_ground_filter.launch">
		<arg name="input_point_topic" default="/points_raw" /> 
        <arg name="clipping_height" default="2.4" /> --> <!-- Remove Points above this height value (default 0.2 meters) -->	
        <arg name="min_point_distance" default="2.0" /><!-- Removes Points closer than this distance from the sensor origin (default 1.85 meters) -->
        <arg name="radial_divider_angle" default="0.08" /><!-- Angle of each Radial division on the XY Plane (default 0.08 degrees)-->
        <arg name="concentric_divider_distance" default="0.01" /><!-- Distance of each concentric division on the XY Plane (default 0.01 meters) -->
        <arg name="local_max_slope" default="8" /><!-- Max Slope of the ground between Points (default 8 degrees) -->
        <arg name="general_max_slope" default="5" /><!-- Max Slope of the ground in the entire PointCloud, used when reclassification occurs (default 5 degrees)-->
        <arg name="min_height_threshold" default="0.25" /><!-- Minimum height threshold between points (default 0.05 meters)-->
        <arg name="reclass_distance_threshold" default="0.1" /><!-- Distance between points at which re classification will occur (default 0.2 meters)-->
        <arg name="no_ground_point_topic" default="/points_no_ground" />
        <arg name="ground_point_topic" default="/points_ground" />
  </include> 

</launch>
