<!-- -->
<launch>
  <arg name="enable_openplanner_simulation" default="false"/>
  <arg name="enable_object_insert" default="false"/>
  <arg name="kml_map_path" default=""/>

  <!-- 
    # open planner, trajectory generation params #
    @todo: still required?
  -->
<include file="$(find op_local_planner)/launch/op_trajectory_generator.launch">
	<arg name="samplingTipMargin" 		default="5"  /> 
	<arg name="samplingOutMargin" 		default="15" /> 
	<arg name="samplingSpeedFactor" 	default="1.0" />		
	<arg name="enableHeadingSmoothing" 	default="false" />
	<arg name="startFromFrontAxel" 		default="false" />
  <arg name="enableForwardSimulation"	default="false" />
</include> 


  <!-- 
    # open planner, motion prediction params #
    @todo: still required?
  -->
<include file="$(find op_local_planner)/launch/op_motion_predictor.launch">
	<arg name="max_distance_to_lane" 		  default="2.0"/>
	<arg name="min_prediction_distance" 	default="10.0"/> 
	<arg name="min_prediction_time" 		  default="2.0"/> 
	<arg name="enableGenrateBranches" 		default="false"/>
	<arg name="enableCurbObstacles" 		  default="false" />
	<arg name="distanceBetweenCurbs" 		  default="1.5" />
	<arg name="visualizationTime" 			  default="0.05" />
	<arg name="enableStepByStepSignal" 		default="false" />
	<arg name="enableParticleFilterPrediction" 	default="false" />
		
	<arg name="pose_weight_factor" 	default="0.2" />
	<arg name="dir_weight_factor" 	default="0.2" />
	<arg name="vel_weight_factor" 	default="0.2" />
	<arg name="acc_weight_factor" 	default="0.2" />
	<arg name="ind_weight_factor" 	default="0.2" />
	
	<arg name="particles_number" 	default="50" />	
	<arg name="min_particles_num" 	default="2" />
	<arg name="keep_percentage" 	default="0.5" />
  </include>

  <!-- 
    # open planner, trajectory evaluation params #
    @todo: still required?
  -->
<include file="$(find op_local_planner)/launch/op_trajectory_evaluator.launch">	
	<arg name="enablePrediction" default="true" />	 				 		
	<arg name="keepCurrentTrajectory" default="true" />
	
	<!-- all weights sum must equal 1 -->
	<!-- ............................ -->
	<arg name="weight_priority" 	default="0.2"/>
	<arg name="weight_transition" 	default="0.2"/>
	<arg name="weight_longitudinal" default="0.2"/>
	<arg name="weight_lateral" 	default="0.2"/>
	<arg name="weight_lane_change" 	default="0.2"/>
	<!-- ............................ -->
	
	<arg name="collision_time" 	default="3.0"/> <!-- in seconds -->
</include> 

  <!-- 
    # open planner, Behavior Generator params #
    @todo: still required?
  -->
<include file="$(find op_local_planner)/launch/op_behavior_selector.launch">
	<arg name="evidence_trust_number" 	default="3"/>
	<arg name="use_sim_time" 		default="false"/>	
	<arg name="show_driving_path" 		default="false"/>
</include> 


<!-- 
    # op_car_simulator #
  -->
<group if="$(arg enable_openplanner_simulation)">
<group unless="$(arg enable_object_insert)">
<include file="$(find op_simulation_package)/launch/op_car_simulator_1.launch" >
  <arg name="id" 			default="1" />		
  <arg name="enableRvizPoseSelect"	default="false"   />	
  <arg name="enableLooper"		default="false"   />	
  <arg name="meshPath" 			default="package://vehicle_description/mesh/default.dae" />
  <arg name="baseColorR"		default="0.9" />
  <arg name="baseColorG"		default="0.1" />
  <arg name="baseColorB"		default="0.0" />
  <arg name="logFolder" 		default="/home/hatem/SimuLogs/SimulatedCar1/" />
	
  <arg name="maxVelocity" 		default="4" />
  <arg name="minVelocity" 		default="0.0" />	
  <arg name="maxLocalPlanDistance" 	default="50" />
  <arg name="samplingTipMargin" 	default="5"  /> 
  <arg name="samplingOutMargin" 	default="15" /> 
  <arg name="samplingSpeedFactor" 	default="0.25" />
  <arg name="enableHeadingSmoothing" 	default="false" />
  <arg name="pathDensity" 		default="0.5" />
  <arg name="rollOutDensity" 		default="0.25" />
  <arg name="rollOutsNumber" 		default="8"    />
  <arg name="enableSwerving" 		default="false"  />
  <arg name="enableFollowing" 		default="false" />
	
  <arg name="horizonDistance" 		default="120"  />
	
  <arg name="minFollowingDistance" 	default="12.0"  /> <!-- should be bigger than Distance to follow -->	
  <arg name="minDistanceToAvoid"  	default="8.0" /> <!-- should be smaller than minFollowingDistance and larger than maxDistanceToAvoid -->
  <arg name="maxDistanceToAvoid"   	default="5.0"  /> <!-- should be smaller than minDistanceToAvoid -->
  <arg name="speedProfileFactor"  	default="1.3"  />
	
  <arg name="horizontalSafetyDistance"	default="1"  />
  <arg name="verticalSafetyDistance"	default="1"  />
		
  <arg name="enableTrafficLightBehavior" default="false" />
  <arg name="enableStopSignBehavior" 	 default="false" />	
  <arg name="enableLaneChange" 		 default="false" />	
	
  <arg name="width" 			default="1.85"  />
  <arg name="length" 			default="4.2"  />
  <arg name="wheelBaseLength" 		default="2.7"  />
  <arg name="turningRadius"		default="5.2"  />
  <arg name="maxSteerAngle" 		default="0.35" />
	
  <arg name="steeringDelay" 		default="1.2" />
  <arg name="minPursuiteDistance" 	default="2.5"  />
  <arg name="maxAcceleration" 		default="5"  />
  <arg name="maxDeceleration"		default="-5"  />
	
  <arg name="enableCurbObstacles" 	default="false" /> 
  <arg name="enableObjectTracking" 	default="false" /> <!-- use internal kalman filter for track obstacles " -->
  <arg name="enableOutsideControl" 	default="false" /> <!-- use internal kalman filter for track obstacles " -->		
	
  <arg name="enableStepByStepSignal" 	default="false" />
  <arg name="enableSimulatedVelodyne" 	default="false" />  
	
  <arg name="mapSource" 		default="2" /> <!-- Autoware=0, Vector Map Folder=1, kml=2, lanelet2=3 -->
  <arg name="mapFileName" 		value='$(arg kml_map_path)' />
  <arg name="lanelet2_origin"		default="0,0,0" /> <!-- GPS origin for lanelet2 map files, Lat, Long, Alt  -->
</include>
</group>
</group>

</launch>

